*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;       
       
}

.home{
    opacity: 0.7;
    background-image: url("bgShoe.png");
    background-color: gray;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.div1{    
    opacity: 1;
    height: 726px;
}
.title{
    font-size: 75px;
    font-weight: 700;
    text-align: center;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    color: white;
    opacity: 1;
}

.tagline{
    font-size: 15px;
    font-weight: 200;
    text-align: center;    
    color: white;
    opacity: 1;
}

.home-button-div{    
    margin-left: 43%;
    margin-top: 3%;
}

.home-button{
    font-size: 20px;
    text-align: center;
    background-color: yellow;
    border-radius: 5px;
    font-family: Verdana;
    color: white;
    border: 0px;
    font-weight: 700;
    padding-left: 1.3em;
    padding-right: 1.3em;
    padding-top: 0.3em;
    padding-bottom: 0.4em;
}

.nav-item{
    padding-left: 25px;
    align-self: left;
}